.detail {
    height: 300px;
    margin-top: 15px;
    border-radius: 3px;
    border: 1px solid #CDCDCD;
}
.address {
    width: 200px;
    height: 100%;
    float: left;
    padding-left: 15px;
    text-align: start;
    margin-top: 25px;
}

.vl {
    border-left: 2px solid gray;
    height: 200px;
    position: relative;
    left: 250px;
    top: 50px;
    width: 2px;
}
.timeline {
    width: 700px;
    float: left;
    position: relative;
    height: 100%;
    border-left: 1px solid rgba(0,0,0,.09);
}

.timeline ul li {
    padding-top: 10px;
}